
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, .bodyWrapper {
    margin: 0;
    /*min-height: 600px;*/
}

body {
    margin: 0;
    padding: 0;
/*    width: 100%;
    height: 100%;*/
    height: 100%;
}
.bodyWrapper {
    position: relative;
    top: 30px;
    bottom: 60px;
    left:230px;
    margin-bottom: 30px;
    min-height: 500px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.menu {
    position: absolute;
    left: 31px;
    top: 100px;
    width: 200px;
    margin-bottom: 130px;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    border: 1px solid #888;
    background-color: white;
    padding: 10px;
    border-right-color: #eee;
    z-index: 100;
    padding-right: 2px;
}


h1, h2 {
/*    float:none;
    display: inline-block;
    min-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;

    white-space:pre;*/
}
/*h1:before, h2:before, h1:after, h2:after {
    content: '\A';
}*/

.bodyWrapper h1 {
    margin-top: 20px;
    font-size: 180%;
    color: #666;
    border: none;
}

.bodyWrapper h2, .bodyWrapper h3 {
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 130%;
    color: steelblue;
    border: none;
}

.bodyWrapper h3 {
    color: #444;
    font-weight: normal;
}


.toc {
    float: right;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fcfcfc;
    padding: 10px;
    margin: 5px;
}

.toc h2 {
    margin: 0;
    padding: 0;
}
.toc ul {
    margin: 3px;
    margin-left: 0;
}

.sublist {
    padding-left: 30px;
}

.trigger, .non-trigger{
    font-size: 90%;
    color: #444;
    cursor: pointer;
}

.non-trigger {
    color: #ccc;
    cursor: text;  
}



.bodyWrapper a {
    color: orange;
}

.bodyWrapper a:visited {
    color: #ffc04d;
}

.bodyWrapper a:active {
    color: darkorange;
}

.menu h2 {
    /*margin-top: -15px;*/
    min-width: 0;
    width: 150px;
    margin-bottom: 3px;
}

.menu a {
    color: steelblue;
}

.menu a:visited {
    color: steelblue;
}

.menu a:active {
    color: lightsteelblue;
}

.logo {
    width: 200px;
    float: left;
}

.titleMain {
    display: inline-block;
    margin-top: 20px;
    margin-left: 35px;
    color: #444;
    font-size: 300%;
}

.highlight {
    color: #ffa500;
}

code, pre {
    font-family: monospace;
    color: #080;
    font-weight: bold;
}

.prettyprint {
    border-color: #ececec;
    background-color: #fafafa;
    font-weight: normal;
}

hr {
    height: 10px;
    border: 1px solid steelblue;
    border-right-width: 16px;
}

td {
    vertical-align: top;
    border: 1px solid #e2e2e2;
    background-color: white;
    color: #666;
}

th {
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
}

table {
    border: 1px solid #e2e2e2;
}

tr.subHeader {
    background-color: white;
    /*color: steelblue;*/
    counter-reset: row 0;
}
.subHeader td {
    border: none;
    background-color: #e2e2e2;
}