/* 
 * %%LICENSE%%
 */
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'OpenSans';
    src: local('☺'), 
        url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
body.menu ul.flush {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}
body.menu {
    min-width: 300px;
    /*margin-bottom:   25px;*/
    font-family: OpenSans, arial;
    font-size: 10pt;
    background-color: white;
    color: #454545;
}


/*.menuitem-iconic, .menu-iconic-left, .menuitem-iconic-left {
     visibility: visible !important;
 }
*/
#crowdlogger-start-button .menuitem-iconic-left,
#crowdlogger-start-button .menu-iconic-left,
#crowdlogger-start-button .menu-iconic {
    /*width: 700px;*/
    background-repeat:no-repeat !important;
    background-position:0px 0px !important;
    visibility: visible !important;
}

.crowdlogger-logging-off-button {
    list-style-image: url("img/startLogging.png") !important;
}

.crowdlogger-logging-on-button {
    list-style-image: url("img/pauseLogging.png") !important;
}

/*#crowdlogger-start-button {
    -moz-appearance: none;
    padding-left:18px !important;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
}*/

.crowdlogger-logging-off-icon {
    list-style-image: url(
        "img/crowdlogger-logo.001.not-logging.16x16.png") !important;
}

.crowdlogger-logging-on-icon {
   list-style-image: url(
       "img/crowdlogger-logo.001.logging.16x16.png") !important;
}

.crowdlogger-logging-off_low_alert-button {
    list-style-image: url(
        "img/crowdlogger-logo.001.not-logging.alert-low.16x16.png") !important;
}

.crowdlogger-logging-on_low_alert-button {
    list-style-image: url(
        "img/crowdlogger-logo.001.logging.alert-low.16x16.png") !important;
}

.crowdlogger-logging-off_high_alert-button {
    list-style-image: url(
        "img/crowdlogger-logo.001.not-logging.alert-high.16x16.png") !important;
}

.crowdlogger-logging-on_high_alert-button {
    list-style-image: url(
        "img/crowdlogger-logo.001.logging.alert-high.16x16.png") !important;
}

.crowdlogger-mine-log-button {
    list-style-image: url("img/mineLog.png") !important;
}

.crowdlogger-new-mine-log {
  list-style-image: url("img/mineLogAlert.png") !important;
}

.crowdlogger-register-button {
  list-style-image: url("img/register.png") !important;
}

.crowdlogger-run-now-button {
  list-style-image: url("img/ok.png") !important;
}

.crowdlogger-run-later-button {
  list-style-image: url("img/no.png") !important;
}


.crowdlogger-refer-a-friend-button {
  list-style-image: url("img/refer.png") !important;
}

.crowdlogger-settings-button {
    list-style-image: url("img/config.png") !important;
}

.crowdlogger-help-button {
    list-style-image: url("img/help.png") !important;
}

.crowdlogger-show-messages-button {
    list-style-image: url("img/messages.png") !important;
}

.crowdlogger-view-log-button {
    list-style-image: url("img/view.png") !important;
}

.ppserachlogtoolbar-notification-button {
	list-style-image: url("img/messages.png") !important;
}

.ppserachlogtoolbar-consent-button {
	list-style-image: url("img/notification.png") !important;
}


.crowdlogger-check-wins-button {
    list-style-image: url("img/win.png") !important;
}


.crowdlogger_groupbox {
    /*width: 700px;*/
    height: 200px;
    overflow: auto;
    border: 1px tan solid;
}

.crowdlogger_groupbox2 {
    
    height: 400px;
    overflow: auto;
    border: 1px gray dotted;
}

.crowdlogger_dialog {
    width: 100%;
    height: 100%;
    overflow: auto;
}


.crowdlogger_label {
    white-space: normal;
/*    font-weight: bold;*/
    font-size: 1.2em;
}

.crowdloggerlogtoolber-head-label{
    white-space: normal;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}


li.menu{
    margin:       0px;
    padding:      1px;
    padding-left: 5px;
    /*border: 1px white solid;*/
    list-style-position: inside;
    border: 1px rgba(0,0,0,0) solid;
    border-radius: 2px;
    cursor: pointer;
}

/*
li.menu:hover {
    color: black;
    cursor: default;
    background-color: lightblue;
    border: 1px gray solid; 
}
*/
.crowdlogger-dynamic-highlight-menu-item-end {
/*    color:        black;*/
    text-decoration: underline;
    font-weight:    bold;
}

li.crowdlogger-dynamic-highlight-menu-item-end {
    background-color: #FFCC66;
    margin:       0px;
    padding:      1px;
    padding-left: 5px;
    border:         2px orange solid;
    list-style-position: inside;
}

li.crowdlogger-dynamic-highlight-menu-item-end:hover {
    color: black;
    cursor: pointer;
    background-color: #FFCC66;
    border:         2px darkorange solid;
    font-weight:    bold;
}

.hidden {
    display:                none;
}

.welcome li {
    margin-bottom: 10px;
}


#crowdlogger-menu-frame {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
}

#crowdloggertoolbarmenupopup {
    padding: 0;
    margin: 0;
}


.menu h3 {
    /*color: #e69500;*/
    color: steelblue;
    font-weight: normal;
    font-size: 120%;
    line-height: 1.2;
}


/*button {
    background-image: -webkit-linear-gradient(top,#afc2df,#9db4d8);
    background-image: -moz-linear-gradient(top,#afc2df,#9db4d8);
    background-image: linear-gradient(top,#afc2df,#9db4d8);
    border: 1px solid #8ba6d0;
    color: #fff!important;
    margin: 0 0;
    border-radius: 2px;
    height: 29px;
}*/

li.menu:hover {
    background-image: -webkit-linear-gradient(top,#afc2df,#7898c9);
    background-image: -moz-linear-gradient(top,#afc2df,#7898c9);
    background-image: linear-gradient(top,#afc2df,#7898c9);
    border: 1px solid #668ac2; 
    color: white;
}

li.menu:active {
    webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

hr {
    /*width: 250px;*/
    /*margin: auto;*/
    /*height: 1px;*/
    border: none;
    border-top: 1px #6c6c6c solid;
}