/*
 * Author:  Henry Feild
 * File:    dialog.css
 * Date:    29-Mar-2011
 * Purpose: Provides style definitions for dialog pages.
 *
 * %%LICENSE%%
 *
 * Version: %%VERSION%%
 */

/*@font-face {
font-family: 'OpenSansCondensed';
src: local('fonts/open-sans-condensed/OpenSans-CondLight-webfont.woff') format('woff');
}*/

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'OpenSans';
    src: local('☺'), 
        url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

html {
    /*font-family: "Open Sans Condensed", arial;*/
    font-family: OpenSans, serif;
}

body {
    background-color:       lightsteelblue; 
    /*height:                 100%;*/
    padding-bottom:         10px;
    /*width:                  850px;*/
    color: #464646;
    position: relative;
}

body.welcome {
    background-color:       white;
    margin:                 0;
    padding:                0;    
}

.welcome table, .welcome tr, .welcome td{
    margin:                 0;
    padding:                0;
    width: 100%;
}

.bodyWrapper {
    width:                  800px;
    border:                 1px gray solid;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:             20px;
    margin-bottom:          30px;
    background-color:       white;
    padding-left:           20px;
    padding-right:          20px;
    padding-top:            30px;
    position:               relative;
}

.uninstall .bodyWrapper {
    width:                  350px;
}


/*.title {
    float:                  left;
}

.titleMain{ 
    font-size:              2.0em;
    font-weight:            normal;
    color:                  black;
    
}

.titleSmall{ 
    font-size:              1.1em;
    line-height:            8px;
    padding-left:           60px;
    font-style:             italic;
    color:                  lightgray;
}*/

.header {
    width: 100%;
}

.logo {
    /*width: 150px;*/
    /*float: left;*/
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.title {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    /*height: 35px;*/
}

.title.with-logo {
    height: 70px;
}

.titleMain {
    /*display: block;*/
    padding: 0;
    margin: 0;
    color: #555;
    font-size: 265%;
    position: absolute;
    right: 15px;
    top: 0px;
    font-weight: lighter;
}

.titleSub {
    display: block;
    padding: 0;
    margin: 0;
    color: #555;
    font-size: 200%;
    position: absolute;
    left: 15px;
    top: 0px;
    font-weight: lighter;
}


.logo-version{ 
    display: block;
    position:absolute;
    left: 60px;
    top: 5px;
    font-size:              93%;
    font-weight:            normal;
    font-style:             italic;
    color:                  orange;
}

.headerBuffer {
    margin-bottom:          30px;
}

.content {
    width:                  80%;    
}

.refreshLink {
    float:                  right;
    /*font-family:            sans-serif;*/
}

.refreshLink:hover {
}

a {
    color:                  blue;
    text-decoration:        underline;
}

.button {
    background-color:       lightgray;
    color:                  #444;
    border:                 1px steelblue solid;
    padding:                4px;
    display:                inline-block;
    /*width:                  100%;
    display:                table-cell;*/
    text-align:             center;
    height:                 100%;
    vertical-align:         middle;
    border-radius:          5px;
    margin-left:            2px;
    margin-right:           2px;
    font-size:              90%;

background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */

}


span.button:hover {
    background-color:       lightsteelblue;

    background: -moz-linear-gradient(top, #ffffff 0%, lightsteelblue 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, lightsteelblue 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #ffffff 0%, lightsteelblue 100%); /* W3C */

    color:                  black;
    cursor:                 pointer;
}

span.button:active {
    background-color:       steelblue;
    /*border-color:           white;*/
    background: -moz-linear-gradient(top, #eee 0%, steelblue 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #eee 0%, steelblue 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #eee 0%, steelblue 100%); /* W3C */

    color:                 #222;
}

span.disabled {
    background-color:       lightgray;
    color:                  gray;
    border:                 1px gray solid;
    padding:                4px;
    display:                inline-block;
    text-align:             center;
    vertical-align:         middle;
    height:                 100%;
}

span.disabled:hover {
    cursor:                 default;
    background-color:       lightgray;
    color:                  gray;
    border:                 1px gray solid;

}

span.disabled:active {
    cursor:                 default;
}

.buttonPanel {
    text-align:             center;
    display:                block;
    margin-left:            auto;
    margin-right:           auto;
    height:                 1.5em;
}
.footer {
    position:               absolute;
    bottom:                 0;
    width:                  100%;
    margin-top:             25px;
}
.copyright{
    position:               static;
    margin-left:            auto;
    margin-right:           auto;
    font-size:              .8em;
    font-style:             italic;
    color:                  lightgray;
    text-align:             center;
}

.copyright a, .copyright a:visited {
    color: lightgray;
}

.copyright a:active, .copyright a:hover {
    color: gray;
}


h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    /*margin-top: 20px;*/
    font-size: 180%;
    color: #666;
    border: none;
}

h2, h3 {/*
    margin-top: 25px;
    margin-bottom: 0px;*/
    padding: 0px;
    font-size: 130%;
    color: steelblue;
    border: none;
}

h3 {
    color: #97bad7;
    font-weight: normal;
    /*margin-top: 20;*/
    font-size: 120%;
    /*font-style: italic;*/
}

h4 {
    font-weight: normal;
    font-size: 115%;
/*    margin-top: 15;
    margin-bottom: 15;*/
    color: #3b709a;
}

h2 {
    /*margin-top: 50px;*/
}

/*
h1, h2 {
    font-size:              1.3em;
    font-weight:            normal;
}

h2 {
    font-size:              1.1em;
}
*/
h2 a {
    text-decoration:        none;
}

.section {
    margin-bottom:          25px;
}

.buffer {
    height:                 100px;
}

td, tr, table {
    margin:                 0px;
}

td {
    padding-left:           3px;
    padding-right:          3px;
}

tr:nth-child(even) {
    background-color:       #EEE;
}

tr:nth-child(odd) {
    background-color:       #FFF
}

.clean tr:nth-child(even) {
    background-color:       #FFF;
}

.clean tr:nth-child(odd) {
    background-color:       #FFF
}


.tools table {
    margin-left:            auto;
    margin-right:           auto;
}

#tools {
    line-height: 32px;
}

#tools ul {
    margin: 0px;
    padding: 0px;
}
#tools li {
    line-height: 1.5;
    cursor: pointer;
    color: steelblue;
    text-decoration: underline;
    float:left;
    display:inline;
    width: 50%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    /*border-left: 1px dotted steelblue;*/
    padding-left: 10px;
    padding-right: 10px;
}

tr.newMessage {
/*    color:                  #FF9900;*/
    color:                  #CC9900;
}

td.date {
    width:                  90px;
    vertical-align:         text-top;
    font-style:             italic;
}

.alert {
    width:                  16px;
    background-image:       url("img/notification.png");
    background-repeat:      no-repeat;
    background-position:    center; 
}

.emptyFooter {
    height:                 30px;
}

.cleared {
    color:                  gray;
    font-style:             italic;
}

.alreadyRegistered {
    color:                  red;
}

.required {
    color:                  red;
}

.note{
    font-style:             italic;
    color:                  gray;
}

.post_registration {
    border:                 2px steelblue solid;
    padding:                5px;
    display:                block;
    margin-bottom:          20px;
}

.emailBox{
    width:                  100%;
    height:                 400px;
    margin-left:            auto;
    margin-right:           auto;
}

.alertMessage {
    color:                  red;
}

.hidden {
    display:                none;
}

span.date {
    font-weight:    bold;
}

span.messageSummary {
    color:          gray;
}

.update_message {
    /*font-weight:            bold;*/
    font-size:              1.1em;
    color:                  steelblue;
    padding:                10px;
    border:                 2px orange solid;
}

.consentBody
{
    height:                 auto; /*300px;*/
    width:                  780px;
    overflow:               visible;
    border:                 steelblue 1px solid;
    padding:                5px;
}

.click, .click a {
    color:                  maroon;
}


.search, .search a {
    color:                  #C35617; 
}

.serpClick, .serpClick a {
    color:                  steelblue;
}

.search .searchEngine, .search .searchEngine a {
    font-size:              7pt;
    color:                  gray;
    font-style:             italic;
}

td.search {
    padding-left:           10px;
}

td.click, td.serpClick {
    padding-left:           15px;
}

.searchTrails tr:nth-child(even),
.searchTrails tr:nth-child(odd)  {
    background-color:       transparent;
}


.searchTrails .time {
    color:                  gray;
    text-align:             right;
    font-style:             italic;
}


.searchTrails .date {
    padding-top:            50px;
    font-size:              1.3em;
    color:                  steelblue;
    border-bottom:          2px steelblue solid;
}


.inProgress {
    color: #ffcc66;
}

.success {
    color: darkgreen;
}

table.notifications {
    border-collapse: separate;
    border-spacing: 10px 4px;
}

a {
    color: steelblue;
}

a:hover {
    color: blue;
}

.tool-container {
    position: static;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}

.tool {
    width: 80px;
    height: 50px;
    text-align: center;
    border: 2px lightgray solid;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: lightsteelblue;
    color: #444;
    font-size: 9pt;
}

.tool:hover {
    cursor: pointer;
    background-color: steelblue;
    color: white;
    border: 2px orange solid;
}

.tool .name {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 50px;
    text-align: center;
}

#status_page_body h1, #status_page_body h2, #status_page_body h3 {
    margin: 0;
    margin-bottom: 4px;
}
#status_page_body h1 {
    font-size: 130%;
}

#status_page_body h2 {
    font-size: 120%;
}

#status_page_body h3 {
    font-size: 110%;
}

#right-column, #left-column {
    width: 390px;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
}

#status_page_body .section {
    float: left;
    margin: 10px;
    width: 365px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border: 1px #e2e2e2 solid;
}

#status_page_body .content {
    width: 100%;
    font-size: 90%;
    overflow: auto;
}

#status_page_body .access {
    width: 265px;
    display: inline-block;
    vertical-align: bottom;
    padding: 5px;
    font-size: 90%;
    line-height: 32px;

    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}

#status_page_body .access .message {
    margin-left: 5px;
    margin-bottom: 10px;
}

#status_page_body .access .button {
    /*height: 30px;*/
    /*display: table-cell;*/
    height: 17px;
}

.templates {
    display: none;
}

#notifications {
    font-size: 90%;
}

.notifications .button {
    /*width: 100%;*/
}



button {
    background-image: -webkit-linear-gradient(top,#afc2df,#9db4d8);
    background-image: -moz-linear-gradient(top,#afc2df,#9db4d8);
    background-image: linear-gradient(top,#afc2df,#9db4d8);
    border: 1px solid #8ba6d0;
    color: #fff!important;
    margin: 0 0;
    border-radius: 2px;
    height: 29px;
}

button:hover {
    background-image: -webkit-linear-gradient(top,#afc2df,#7898c9);
    background-image: -moz-linear-gradient(top,#afc2df,#7898c9);
    background-image: linear-gradient(top,#afc2df,#7898c9);
    border: 1px solid #668ac2; 
}

button.confirm {
    background-image: -webkit-linear-gradient(top,#e95d3e,#cf482e);
    background-image: -moz-linear-gradient(top,#e95d3e,#cf482e);
    background-image: linear-gradient(top,#e95d3e,#cf482e);
    border: 1px solid #ba4129;
}

button.confirm:hover {
    background-image: -webkit-linear-gradient(top,#e95d3e,#a53925);
    background-image: -moz-linear-gradient(top,#e95d3e,#a53925);
    background-image: linear-gradient(top,#e95d3e,#a53925);
    border: 1px solid #903220; 
}

button.disabled, button.disabled:hover, button.disabled:active {
/*    background-image: -webkit-linear-gradient(top,#cecece,#bbbbbb);
    background-image: -moz-linear-gradient(top,#e95d3e,#a53925);
    background-image: linear-gradient(top,#e95d3e,#a53925);*/
    background-image: none;
    background-color: #bbb;
    border: 1px solid #a7a7a7; 
    color: #e2e2e2 !important; 
    webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5); 
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);    

    text-shadow: 0px -1px 0px #aaa;
    /*text-shadow: 0px -1px 0px #eee;*/
}

button:active {
    webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}